    {% extends 'layouts/index' %}

{% block content %}
    
     <section class="container">
        <div class="cdpe_heading resources-full-heading">
            <h1 class="cdpe-main_heading resources-compound-heading">
                Faculty Members
            </h1>
    
            <h3 class="cdpe-sub_heading">
                Meet the members of our faculty
            </h3>
        </div>
    </section>


    <section class="container">
        <div class="faculty_members-flex">

                       <div class="single-member">
                <img src="assets/images/faculty-members/member-1.png" class="faculty-member-image" alt="mitchel elegbe">
                <div class="member-text">
                    <p class="member-text-heading">
                        Mitchell Elegbe <a href="https://linkedin.com/in/mitchell-elegbe-502aba128"><i class="bi bi-linkedin"></i></a> 
                    </p>
                    <p class="member-sub-text">
                        Group Managing Director / Chief Executive Officer
                    </p>
                    <p class="member-sub-text2">
                        Interswitch Group
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-2.png" class="faculty-member-image" alt="Oremeyi Akah">
                <div class="member-text">
                    <p class="member-text-heading">
                        Oremeyi Akah <a href="https://linkedin.com/in/oremeyiakah"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Chief Customer Experience Officer
                    </p>
                    <p class="member-sub-text2">
                        Interswitch Group
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-3.png" class="faculty-member-image" alt="Jonah Adams">
                <div class="member-text">
                    <p class="member-text-heading">
                        Jonah Adams <a href="https://linkedin.com/in/jonah-adams-ab825630"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        MD, Digital Infrastructure & Managed Services
                    </p>
                    <p class="member-sub-text2">
                        Interswitch Systegra
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-4.png" class="faculty-member-image" alt="Benjamin Atseyinku">
                <div class="member-text">
                    <p class="member-text-heading">
                        Benjamin Atseyinku <a href="https://linkedin.com/in/ben-atseyinku-1794891"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Group Head, Implementation and Delivery
                    </p>
                    <p class="member-sub-text2">
                        Payments Masterclass
                    </p>
                </div>
            </div>

            <!-- ROW 2 -->

            <div class="single-member">
                <img src="assets/images/faculty-members/member-5.png" class="faculty-member-image" alt="Efi Okomayin">
                <div class="member-text">
                    <p class="member-text-heading">
                        Efi Okomayin <a href="https://linkedin.com/in/efi-okomayin-7a53a764"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Head, Purepay Application Implementation - Backbone - Core Operations
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-6.png" class="faculty-member-image" alt="Ovie Adasen">
                <div class="member-text">
                    <p class="member-text-heading">
                        Ovie Adasen <a href="https://linkedin.com/in/ovie-adasen-prince-2-safe-agile-cbap-itil-lssbb-a5b26838"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Group Head, Operational Excellence Centre of Excellence
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-7.png" class="faculty-member-image" alt="Chioma Ejewuke">
                <div class="member-text">
                    <p class="member-text-heading">
                        Chioma Ejewuke <a href="https://linkedin.com/in/chioma-ejewuke-prosci-lssbb-itil-iso-lead-implementer-b22a0b18"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Group Head, Service Management - Paymate
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-8.png" class="faculty-member-image" alt="Paul Otu">
                <div class="member-text">
                    <p class="member-text-heading">
                        Paul Otu <a href="https://linkedin.com/in/paulotu"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Group Head, Design & Ux - Design & User Experience
                    </p>
                    <p class="member-sub-text2">
                        Design Thinking Masterclass
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-9.png" class="faculty-member-image" alt="Tracy Ojaigho">
                <div class="member-text">
                    <p class="member-text-heading">
                        Tracy Ojaigho <a href="https://linkedin.com/in/tracy-ojaigho-16137144"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Head, Paymate Application Implementation
                    </p>
                    <p class="member-sub-text2">
                        Postilion Payments Basic Training
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-10.png" class="faculty-member-image" alt="mitchel elegbe">
                <div class="member-text">
                    <p class="member-text-heading">
                        Nneka Nwaka <a href="https://linkedin.com/in/nneka-nwaka-bl-llb-cams-fcin-cfe-ba508545"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Chief Compliance Officer - Group Legal and Compliance
                    </p>
                    <p class="member-sub-text2">
                        Risk & Compliance on Electronic Payments Systems
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-11.png" class="faculty-member-image" alt="mitchel elegbe">
                <div class="member-text">
                    <p class="member-text-heading">
                        Gbade Abodunrin <a href="https://linkedin.com/in/gbadegesin-abodunrin-a03972b1"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Head, Operational Risk Management Risk Management Group
                    </p>
                    <p class="member-sub-text2">
                        Risk & Compliance on Electronic Payments 
                        Systems
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-12.png" class="faculty-member-image" alt="Eloho Ogude">
                <div class="member-text">
                    <p class="member-text-heading">
                        Eloho Ogude <a href="https://linkedin.com/in/eloho-ogude-edebiri-229b7135"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Group Head, Service Operations - Backbone - Core Operations
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-13.png" class="faculty-member-image" alt="Kehinde Salami">
                <div class="member-text">
                    <p class="member-text-heading">
                        Kehinde Salami <a href="https://linkedin.com/in/kehinde-salami-22ba2a89"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Ag. Lead Information Security Governance, Strategy & User Admin
                    </p>
                    <p class="member-sub-text2">
                        Payments Security Training
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-14.png" class="faculty-member-image" alt="Emeka Vin Anunoye">
                <div class="member-text">
                    <p class="member-text-heading">
                        Emeka Vin Anunoye <a href="https://linkedin.com/in/chukwuemeka-vin-anuonye/"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Group Head, Service Operations - Backbone - Core Operations
                    </p>
                    <p class="member-sub-text2">
                        Ag. Head, Enterprise Delivery-EFT & Payments
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-15.png" class="faculty-member-image" alt="Olubukola Yavala">
                <div class="member-text">
                    <p class="member-text-heading">
                        Olubukola Yavala <i class="bi bi-linkedin"></i>
                    </p>
                    <p class="member-sub-text">
                        Team Lead, Systegra B2B Support
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-16.png" class="faculty-member-image" alt="Ikechukwu Agu">
                <div class="member-text">
                    <p class="member-text-heading">
                        Ikechukwu Agu <a href="https://linkedin.com/in/ikechukwu-agu-b43675100"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Team Lead, Fraud Risk
                    </p>
                    <p class="member-sub-text2">
                        Payment Security & Fraud Risk Management
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-17.png" class="faculty-member-image" alt="Owolabi Akala">
                <div class="member-text">
                    <p class="member-text-heading">
                        Owolabi Akala <a href="https://linkedin.com/in/owolabi-akala-9865636b"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Team Lead, Consumer Support
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-18.png" class="faculty-member-image" alt="Chinonso Umeanabuike">
                <div class="member-text">
                    <p class="member-text-heading">
                        Chinonso Umeanabuike <a href="https://linkedin.com/in/chinonso-umeanabuike-866300160"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Core Services - Dispute and Specialised Operations
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-19.png" class="faculty-member-image" alt="Wale Micaiah">
                <div class="member-text">
                    <p class="member-text-heading">
                        Wale Micaiah <a href="https://linkedin.com/in/walemicaiah"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Enterprise Risk Manager Risk Management Group
                    </p>
                    <p class="member-sub-text2">
                        Risk & Compliance on Electronic Payments Systems
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-20.png" class="faculty-member-image" alt="Adewale Oloyi">
                <div class="member-text">
                    <p class="member-text-heading">
                        Adewale Oloyi <a href="https://linkedin.com/in/adewaleoloyi"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        EFT & Payments Delivery Engineer
                    </p>
                    <p class="member-sub-text2">
                        Payments Masterclass
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-21.png" class="faculty-member-image" alt="Oluwatosin Adesua">
                <div class="member-text">
                    <p class="member-text-heading">
                        Oluwatosin Adesua <a href="https://linkedin.com/in/oluwatosin-adesua"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        EFT & Payments Support Engineer
                    </p>
                    <p class="member-sub-text2">
                        Payments Masterclass
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-22.png" class="faculty-member-image" alt="Divine Obakhena">
                <div class="member-text">
                    <p class="member-text-heading">
                        Divine Obakhena <a href="https://linkedin.com/in/divine-obakhena-766356124"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Fraud Service Operations Representative - Risk Management
                    </p>
                    <p class="member-sub-text2">
                        Payment Security & Fraud Risk Management
                    </p>
                </div>
            </div>

            <div class="single-member ">
                <img src="assets/images/faculty-members/member-23.png" class="faculty-member-image" alt="Halima Usman">
                <div class="member-text">
                    <p class="member-text-heading">
                        Halima Usman <a href="https://linkedin.com/in/halima-usman-24658732"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Group Head, Core Operations
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div>

            <div class="single-member">
                <img src="assets/images/faculty-members/member-20.png" class="faculty-member-image blur-effect" alt="Ikechukwu Agu">
                <div class="member-text">
                    <p class="member-text-heading">
                        Mariam Olatunji <a href="https://linkedin.com/in/mariam-olatunji-391442185"> <i class="bi bi-linkedin"></i></a>
                    </p>
                    <p class="member-sub-text">
                        Head, Routine Operations - Backbone - Core Operations
                    </p>
                    <p class="member-sub-text2">
                        Digital Payments and Operations
                    </p>
                </div>
            </div> 


        </div>
    </section>
    
         {% include 'layouts/footer1' %}

  {% endblock %}