{% extends 'layouts/index' %}

{% block content %}

 <section class="container">
        <div class="cdpe_heading resources-full-heading">
            <h1 class="cdpe-main_heading resources-compound-heading">
                Explore our different resources.
            </h1>
    
            <h3 class="cdpe-sub_heading">
                We offer a wide range of educational opportunities to help you succeed in this rapidly-growing field. 
                From payments processing to digital currency, we have a course to fit your needs. Sign up for a course today!
            </h3>
        </div>
    </section>

    <section class="container">
        <!-- <h2 class="resource-type-heading">
            Resource Types
        </h2> -->

        <div class="resources-cont">
            <div class="calendar-items">
                <div class="calendar-text">
                    <h1>
                        Calendar & Course Schedule 
                    </h1>
                    <p>
                        Interswitch Skillbase offers a broad spectrum of training programmes on Digital Payments, Technology, Transformation, Data Analytics, 
                        Customer Experience Management, Product Innovation, Security, Compliance & Risk Management.
                    </p>
                </div>
                <a href="assets/SkillBase-Training-Calendar-2023.pdf" download="Skillbase 2023 calendar">
                    <button class="calendar-btn">Download calendar</button>
                </a>
            </div>

            <div class="calendar-image">
                <img src="assets/images/calendar-img.png" alt="">
            </div>

            <!-- <div class="articles-flex">
                
                <div class="single-item">
                    <div class="article-img-container">
                        <img src="images/card-photos/card-img-1.png" alt="article-img">
                    </div>
                    <div class="item-text">
                        <p class="item-heading">
                            Designers Discuss: Learning with a Bootcamp
                        </p>

                        <p class="item-paragraph">
                            A comprehensive course that includes scrumptious design recipes, gorgeous samples, and solid examples. 
                            All taught by the best teachers:
                        </p>
                    </div>
                </div>
                
                <div class="single-item">
                    <div class="article-img-container">
                        <img src="images/card-photos/card-img-1.png" alt="article-img">
                    </div>                    
                    <div class="item-text">
                        <p class="item-heading">
                            Designers Discuss: Learning with a Bootcamp
                        </p>

                        <p class="item-paragraph">
                            A comprehensive course that includes scrumptious design recipes, gorgeous samples, and solid examples. 
                            All taught by the best teachers:
                        </p>
                    </div>
                </div>

                
                <div class="single-item">
                    <div class="article-img-container">
                        <img src="images/card-photos/card-img-1.png" alt="article-img">
                    </div>
                    <div class="item-text">
                        <p class="item-heading">
                            Designers Discuss: Learning with a Bootcamp
                        </p>

                        <p class="item-paragraph">
                            A comprehensive course that includes scrumptious design recipes, gorgeous samples, and solid examples. 
                            All taught by the best teachers:
                        </p>
                    </div>
                </div>

               
                <div class="single-item">
                    <div class="article-img-container">
                        <img src="images/card-photos/card-img-1.png" alt="article-img">
                    </div>
                    <div class="item-text">
                        <p class="item-heading">
                            Designers Discuss: Learning with a Bootcamp
                        </p>

                        <p class="item-paragraph">
                            A comprehensive course that includes scrumptious design recipes, gorgeous samples, and solid examples. 
                            All taught by the best teachers:
                        </p>
                    </div>
                </div>


           
                <div class="single-item">
                    <div class="article-img-container">
                        <img src="images/card-photos/card-img-1.png" alt="article-img">
                    </div>
                    <div class="item-text">
                        <p class="item-heading">
                            Designers Discuss: Learning with a Bootcamp
                        </p>

                        <p class="item-paragraph">
                            A comprehensive course that includes scrumptious design recipes, gorgeous samples, and solid examples. 
                            All taught by the best teachers:
                        </p>
                    </div>
                </div>
            </div> -->

        </div>

        <div class="resources-cont training-flex">
            <div class="calendar-image">
                <img src="assets/images/Training-agreement.png" alt="">
            </div>

            <div class="calendar-items">
                <div class="calendar-text">
                    <h1>
                        Training Agreement
                    </h1>
                    <p>
                        Registration and attendance of course programme(s) 
                        is confirmed by a completed training agreement and full payment at least 10 working days before course commencement, unless otherwise agreed. 
                    </p>
                </div>
                <a href="assets/Skillbase-Training-Agreement-2023.pdf" download="Skillbase 2023 Training Agreement">
                    <button class="calendar-btn">Download Our Training Agreement</button>
                </a>
                <div class="calendar-text">
                    <p class="mailing-text">
                        Please send completed and signed Training Agreement to <a href="mailto:skill_base@interswitchng.com">skill_base@interswitchng.com</a> 
                    </p>
                </div>
            </div>

        </div>
    </section>

     <!-- DIGITAL COMPANIES SECTION-->
       {% include 'layouts/bank_logos' %}
          {% include 'layouts/footer1' %}
    
  {% endblock %}