 <section class="container">
        <p class="digital-companies-heading">
            Trusted by top digital companies
        </p>

        <div class="bank-slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="assets/images/bank-logos/image 6.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 5.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 8.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 9.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 7.svg" alt="">
                </div>

                <div class="slide">
                    <img src="assets/images/bank-logos/Heritage Bank.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 6.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 5.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 8.svg" alt="">
                </div>
                <div class="slide">
                    <img src="assets/images/bank-logos/image 7.svg" alt="">
                </div>

            </div>
        </div>
    </section>

   