<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interswitch Skillbase</title>
    <link rel="stylesheet" href="assets/css/style.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/01d9c16713.js" crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link href="https://mufasa.interswitchng.com/p/favicons/favicon_isw.png" rel="shortcut icon" type="image/png">
            <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDLXH3N');</script>
<!-- End Google Tag Manager -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/645e11a0ad80445890ec8f76/1h07n9ng6';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<!-- OneTrust Cookies Consent Notice start for interswitchgroup.com -->
 
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="1a95dbb2-c274-48ec-928d-bedc3fda48b6" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice end for interswitchgroup.com -->


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDLXH3N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 <nav class="nav-container">
        <div class="top-nav">
            <div class="logo">
                <a href="/" > <img src="assets/images/logo.svg"> </a> 
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
            </label>

            <ul class="menu">
                <li class="nav-item"><a href="/courses"> Courses </a></li>
                <li class="nav-item"><a href="https://skillbaseng.mindscroll.com/course-list"> Online Courses </a></li>
                 <li class="nav-item"><a href="/faculty"> Faculty </a></li>
                <li class="nav-item"><a href="/resources"> Resources </a></li>
                <li class="talk-btn nav-item"> <a href="/contact"> Contact Us </a></li>
                <!-- <li class="nav-item"><i class="bi bi-search"></i></li> -->
            </ul>
        </div>
    </nav>
{% block content %}

{% endblock %}
    <!-- FOOTER SECTION -->
    <section class="container">

        <div class="footer-big-flex">
            <div class="footer-logo">
                <img src="assets/images/logo.svg" alt="" class="logo">
            </div>
            <div class="footer">
                <div class="footer-section">
                <a href="">
                    <p class="footer-section_heading">
                        Courses
                    </p>
                </a>
                 <a href="">
                    <p class="footer-item">
                        Digital Transformation
                    </p>
                </a>
                 <a href="">
                    <p class="footer-item">
                        Payment & Fintech
                    </p>
                </a>       
                 <a href="">
                    <p class="footer-item">
                        Interswitch Pay Solutions
                    </p>
                </a>
                 <a href="">
                    <p class="footer-item">
                        Data Science
                    </p>
                </a>
                 <a href="">
                    <p class="footer-item">
                        Business Management
                    </p>
                </a>
                 <a href="">
                    <p class="footer-item">
                        EC Council Courses
                    </p>
                </a>
                </div>

                {# <div class="footer-section">
                    <p class="footer-section_heading">
                        Resources
                    </p>
                    <p class="footer-item">
                        Upcoming Webinar
                    </p>
                    <p class="footer-item">
                        Articles & Insights
                    </p>

                    <p class="footer-item">
                        Academic Calendar
                    </p>
                </div> #}

                <div class="footer-section">
                    <p class="footer-section_heading">
                        Contact
                    </p>
                    <p class="footer-item">
                        skill_base@interswitchgroup.com
                    </p>
                    <p class="footer-item">
                        +2348033302743 <br>
                        +2349023304957
                    </p>
                </div>

            </div>
        </div>
    </section>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="assets/js/slider.js"></script>
     <script src="assets/js/accordion.js"></script>
    <script src="assets/js/course-filter.js"></script>
    <script src="assets/js/contact-accordion.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src='//tw.netcore.co.in/smartechclient.js'></script>

    	<script>
		smartech('create', 'ADGMOT35CHFLVDHBJNIG50K968HGC4AU9CK8VRN68EHEH9MQ0RU0');
		smartech('register', 'ed71c43ad003846d01e0e99be1c64d00');
		smartech('identify', '');
	
		smartech('dispatch', 1, {
			"s^url": "<Replace url value here>",
			"i^sts": "<Replace sts value here>",
			"i^pts": "<Replace pts value here>",
			"i^npv": "<Replace npv value here>",
			"s^title": "<Replace title value here>"
		});
        
	</script>

    <script>
    let form = document.getElementById('popForm')
  $(document).ready(function () {
	$('#popForm').on('submit', function (e) {
		e.preventDefault();
        
        var firstName = document.getElementById('firstName').value;
        var lastName = document.getElementById('lastName').value;
		var email = document.getElementById('email').value;
		var mobile = document.getElementById('phoneNumber').value;
        var gender = document.getElementById('gender').value;
        var industry = document.getElementById('industry').value;
        var employmentStatus = document.getElementById('employmentStatus').value;
		var courseTitle = document.getElementById('courseTitle').value;
	

		if (firstName === "" | lastName === "" | email === "" | mobile === "" | gender === "" | industry === "" | employmentStatus === "") {
			Swal.fire({ title: "Error!", text: 'Please fill the form fields', type: "danger" });

		} else {

            smartech('identify', email);
					smartech('dispatch', "skillbase_contact_form", {
						"email": email,
						"FIRSTNAME": firstName,
                        "LASTNAME": lastName,
						"PHONENUMBER": mobile,
                        "GENDER": gender,
                        "COMPANY": industry,
						"OTHERS": courseTitle
					
				})
				smartech('contact', '364', {
                        'pk^email': email,
                       "FIRSTNAME": firstName,
                        "LASTNAME": lastName,
						"PHONENUMBER": mobile,
                        "GENDER": gender,
                        "COMPANY": industry,
						"OTHERS": courseTitle
                        
					})

                Swal.fire({
                    title: "Congratulations!",
                    icon: "success",
                    text: "Your details has been received",
                })
			
			//form.reset();
			form.reset()
		}       
	})
});
</script>


<script>
    const accordion = document.getElementsByClassName('drop-container');
   
   for (i=0; i<accordion.length; i++) {
     accordion[i].addEventListener('click', function () {
       this.classList.toggle('active')
     })
   }
</script>
</body>
</html>