
     <!-- INTERNATIONAL TALENT SECTION -->
        <section class="container">
            <div class="talent">
                <div class="talent-text">
                    <div class="talent-main_heading">
                        Driving huge international talent transformation
                    </div>
                    <div class="talent-sub_heading">
                        By enrolling in one of our programs, you'll have the chance to learn from leading 
                        industry experts and gain the skills needed to succeed in today's competitive job market.
                    </div>
                </div>
    
                <div class="talent-benefits">
                    <div class="talent-flex">
                        <div class="talent-item">
                            <img src="assets/images/talent-icons/Featured-icon.svg" alt="">
                            <p class="talent-item-head">
                                Mentorship
                            </p>
                            <p class="talent-item-paragraph">
                                You can also ask all your questions directly, 
                                and get your work reviewed by peers and top class world professionals.
                            </p>
                        </div>
    
                        <div class="talent-item">
                            <img src="assets/images/talent-icons/Featured-icon-1.svg" alt="">
                            <p class="talent-item-head">
                                Build portfolio
                            </p>
                            <p class="talent-item-paragraph">
                                Our faculty comprises leading practitioners who bring current relevant best
                                 practices and case studies to sessions that fit into your work schedule and solve real-life problems.
                            </p>
                        </div>
                    </div>
    
                    <div class="talent-flex">
                        <div class="talent-item">
                            <img src="assets/images/talent-icons/Featured-icon-2.svg" alt="">
                            <p class="talent-item-head">
                                Learning support
                            </p>
                            <p class="talent-item-paragraph">
                                We provide 24x7 Learning support from mentors, faculty members and a 
                                community of like-minded peers to resolve any conceptual doubts about our programmes or trending issues.
                            </p>
                        </div>
                        
                        <div class="talent-item">
                            <img src="assets/images/talent-icons/Featured-icon-3.svg" alt="">
                            <p class="talent-item-head">
                                Special guide for you
                            </p>
                            <p class="talent-item-paragraph">
                                Explore our Innovative curriculum designed in guidance with industry experts 
                                to equip you with job-ready digital skills.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- TESTIMONIAL SECTION -->
    <section class="container">
          <div id="testim" class="testim">
            <!--         <div class="testim-cover"> -->
            <div class="wrap">
                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li>
                    <!--
                            -->
                    <li class="dot"></li>
                    <!--
                            -->
                    <li class="dot"></li>
                    <!--
                            -->   
                    <li class="dot"></li>
                    <!--
                            -->  
                </ul>
                <div id="testim-content" class="cont">
        
                    <div class="active">
                        <div class="author-info img">
                            <h1 class="testimonial_heading">The training programme was engaging and intensely practical, leaning on real-life scenarios that resonated with the day-to-day operations of all attendees.</h1>
                            <!-- <img src="images/testimonial-img.svg" alt="" class="testimonial-image"> -->
                            <p class="author">Abimbola Babalola</p>
                            <p class="author-role">Technology, Sterling Bank</p>
                            <img src="assets/images/star-ratings.svg" alt="" class="rating">
                        </div>
                    </div>
        
                    <div>
                        <div class="author-info img">
                            <h1 class="testimonial_heading">It was an eye-opener and it made vivid and succinct things that were obscured before the training.</h1>
                            <!-- <img src="images/testimonial-img.svg" alt="" class="testimonial-image"> -->
                            <p class="author">Ohiozoje Augustine Ohio</p>
                            <p class="author-role">Remedial Officer, Parallex Bank</p>
                            <img src="assets/images/star-ratings.svg" alt="" class="rating">
                        </div>
                    </div>
        
                    <div>
                        <div class="author-info img">
                            <h1 class="testimonial_heading">The program delivery is great and the class interaction is good to foster shared knowledge</h1>             
                            <!-- <img src="images/testimonial-img.svg" alt="" class="testimonial-image"> -->
                            <p class="author">Ajayi Alaba</p>
                            <p class="author-role">Compliance Officer, Eco Bank</p>
                            <img src="assets/images/star-ratings.svg" alt="" class="rating">
                        </div>
                    </div>

                    <div>
                        <div class="author-info img">
                            <h1 class="testimonial_heading">The programme was very interesting with lots of ideas to look into back at work. While the presenters were excellent, engaging and experienced</h1>             
                            <!-- <img src="images/testimonial-img.svg" alt="" class="testimonial-image"> -->
                            <p class="author">Ebenezer Akinyemi</p>
                            <p class="author-role">Head Fintech Partnership and Eco System, Parallex Bank</p>
                            <img src="assets/images/star-ratings.svg" alt="" class="rating">
                        </div>
                    </div>

                </div>
            </div>
            <!--         </div> -->
        </div>
    </section>

    <!-- COMMUNITY SECTION -->
    <section class="container">
        <div class="community">
            <div class="community-text">
                <p class="community-heading">
                    Be Part of a Learning Community
                </p>
                <p class="community-paragraph">
                    Become part of our global learning community. Learn and network with digital cohorts - groups. 
                    Share your ideas and experience to motivate people throughout your learning journey and build strong relationships.
                </p>
                <div class="community-btn-container">
                    <a href="/join-us" class="community-btn">Join now</a>
                </div>
            </div>
        </div>
    </section>